*{
    margin: 0;
}   
body{
    background:url('assets/horizontal-banner-forest-background-silhouettes-trees-magical-misty-landscape-fog-green-yellow-illustration-225955264.jpeg');
    background-size:cover;
    height: 100vh;
    /* background-repeat: no-repeat; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* padding: 0 2rem; */
    background-color: white;
    position:fixed;
    top: 0;
    width: 100vw;
    z-index: 15;
    /* left: 0; */
    /* width: 100%; */
}
.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar a{
    margin: 0 1.5rem;
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    display: flex;

}
.navbar a:hover{

    color: green;
    transition-duration: .5s;
}

.container{
    /* width: 70vw; */
    /* height: 100vh; */
    background-color: white;
    margin: 10rem 7rem;
    padding-top: 3rem;
}

.container h2{
    font-size: xx-large;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.container p{
    font-size:large;
    font-weight: 600;
    text-align: center;
    padding-top: 3rem;
}

.container button{
    width : 8rem;
    height: 3rem;
    text-align: center;
    margin: auto;
    margin-top: 1.5rem;
    cursor:pointer;
    display:block;
    text-align: center;
    border: solid 2.5px black;
    background-color: #D36442;
    font-size:large;
    font-weight: 600;
}

/* slider */
.custom-slider { display: none; }

.second-container{
    margin-bottom: 4rem;
}

.slide-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  margin-top: 3rem;
  /* padding-bottom: 5rem; */
}
.prev, .next {
  cursor: pointer;
  position: absolute;        
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}
.slide-text {
  position: absolute;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.slide-index {
  color: #ffffff;
  font-size: 13px;
  padding: 15px;
  position: absolute;
  top: 0;
}
.slide-img{ 
  width: 100%; 
  height: 300px;
  object-fit: cover;
  object-position: center;
 }
.slide-dot{ 
    text-align: center;
    padding-bottom: 2rem;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover { background-color: #111111; }
.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}
/* -------------------------------------------------- Page Dons ------------------------------------------ */

/* dons avec prix */
/* .top-bar{
  background-color: white;
  height: 3.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: 800;
} */
.bigContainer{
  background: url('assets/oiseau2.webp');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.donnations{
  border: black solid 2px;
  width: 25%;
  margin:auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
}
/* .montants{
  background-color: white;
  width: 100%;
} */
.title-don{
background-color: black;
color: white;
display: flex;
justify-content: space-evenly;
align-items: center;
margin-bottom: 1rem;
padding: 1rem 0;
height: 3rem;
text-align: center;
}

.allprice{
  display: flex;
  flex-direction: column;
}
.first-line, .sd-line{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin-top: 2rem; */
}
.first-line{
  margin-bottom: 1.5rem;
}
.first-line div{
  padding: 1rem;
  border: black 2px solid;
}

.sd-line{
  margin-bottom: 2rem;
}

.sd-line div{
  padding: 1rem;
  border: black 2px solid;
  cursor: pointer;
  display: flex;
}
.allprice a{
  text-decoration: none;
  color: #111111;
  font-size: large;
  font-weight: 700;
}
.allprice a:hover{
  background-color: green;
  transition-duration: .5s;
}

.montant-libre{
  margin-bottom: 2rem;
  width:80%;
  margin-left: 10%;
  display: flex;
  height: 2rem;
  border: #111111 solid 2px;
}
.montant-libre input{
  text-align: center;
  align-items: center;
  width: 80%;
  /* border-right: #111111 2px solid; */
}
 .montant-libre div{
  align-items: center;
  text-align: center;
  width: 20%;
  line-height: 25px;
  /* height: 100%; */
}  
.montant-libre p{
  height: 100%;
  text-align: center;
  padding: 0;
  border-left: #111111 solid 2px;
}

/* -----------------------Inscription form-------------------------------------- */
.wallpaper{
  width: 100%;
  height: 100%;
  background: url('assets/oiseau2.webp');
  background-size: cover;
  padding-top: 4rem;
}
.container-form{
	border: black 3px solid;
	width: 30rem;
	padding: 3rem;
  margin: 3rem auto;
  padding-top: 3rem;
}

h1{
	margin-bottom:  2rem;
	text-align: center;
  color: black;
}


.form-submit{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

input{
	color: black;
	display: block;
	width: 30rem;
	height: 2rem;
	margin: 1.3rem 0;
	font-size: large;
	font-weight: 700;
  color: black;
  background-color: white;
  border: #111111 solid;
}

.checkbox{
	display: flex;
	align-items: center;
	/* padding-left: 2rem ; */
}

.checkbox input{
	width: 2rem;
	/* height: 2rem; */
	margin-right: 3rem;
}

.checkbox p{
	font-size: large;
	font-weight: 700;
}

input[type=submit] {
	width: 10rem;
	border: 2px solid white;
	color: white;
	background-color: black;
	height: 4rem;
	margin: 2rem auto;
  cursor: pointer;
}
.mdpEtsignUp{
  display: flex;
  justify-content: space-between;
}
.mdpEtsignUp a{
  text-decoration: none;
  color: white;
}
.fullName{
  display: flex;
  flex-direction: row;
  /* margin: 1.3rem 0; */
  
}

/*------------Cordoonnees----------- */
/* .mes-coordonnees{
  border: black solid 2px;
  width: 25%;
  margin:auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
}
.mes-coordonnees input{
  height: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  border: #111111 solid 2px;
}
.mes-coordonnees form{
margin-bottom: 1.5rem;
margin-top: 1.5rem;
}
.email input, .adresse input, .pays input{
  width: 80%;
  text-align: center;
  margin-left: 10%;
}
.fullName{
  margin-left: 10%;
}
input[type='submit']{
  width: 50%;
  height: 2rem;
  font-size: larger;
  font-weight: 800;
  cursor: pointer;
  background-color: #920517;
  margin-left: 25%;
  color: wheat;
}

.civilite select{
margin-bottom: 1.5rem;
height: 1.5rem;
}

.civilite{
  display: flex;
  margin: 0 20%;
  justify-content: space-around;
} */